Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@vji-axelor 
vji-axelor
/
axelor-demo
Public
forked from axelor/open-platform-demo
Code
Pull requests
Actions
Projects
Security
Insights
Settings
axelor-demo/.gitignore

admin Update .gitignore
Latest commit 2af961f on 1 Jun 2017
 History
 1 contributor
49 lines (39 sloc)  406 Bytes
  
# Gradle
build
.gradle

# Eclispe
bin
.project
.classpath
.settings
.metadata

# Intellij
out
.idea
*.iml
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# NetBeans
.nbattrs

# virtual machine crash logs
hs_err_pid*

# Backup files
*.sw[nop]
*~
.#*
[#]*#

# dotenv or direnv
.env
.envrc

# Miscellaneous
*.log
.clover
.DS_Store

# Profiler and heap dumps
*.jps
*.hprof
/.nb-gradle/

# JavaScript
node_modules

© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete
